<script>
var xhttp = new XMLHttpRequest();
function status(id,val){
xhttp.open("POST", "http://localhost:3000/request/view/professor/", true);
console.log("a");
xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xhttp.send("id"+ "="+id+"&"+ "status="+val); 
}
</script>


<!-- all request with status here -->
 <% for (var i = 0; i < profrequest.length; i++){ %>
    <%= profrequest[i].status %>
    &nbsp;
    <p>
    <%= profrequest[i].project %> </span>
    <%= profrequest[i].student %> </span>
    </p>
<button onclick="status('<%= profrequest[i]._id %>',true);">Accept </button>
<button onclick="status('<%= profrequest[i]._id %>',false);">Reject </button>
 <% } %>






<!-- create project add redirect -->

