<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Research Portal, IITK</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/dash/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/dash/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/dash/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/dash/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/dash/assets/css/main.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/dash/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/dash/assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/home/"><img src="/dash/assets/img/logo-dark.png" alt="AnC Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-link"></i> <span>Quick Links</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="https://iitk.ac.in">IITK Home</a></li>
								<li><a href="https://iitk.ac.in/dosa">DOSA</a></li>
								<li><a href="https://iitk.ac.in/doaa">DOAA</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="" class="img-circle" alt=""> <span><%=name%></span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">	
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="/home/user/logout/"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/home/" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="/project/createproject" class=""><i class="lnr lnr-list"></i> <span>New Project</span></a></li>
						<li><a href="page-profile.html" class=""><i class="lnr lnr-user"></i><span>Profile</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					
					<!-- PROFESSOR PROJECTS -->
					<% if(projects.length == 0 ){ %>
						<div class="row">
							<div class="col-md-12">
									<div class="panel">
											<div class="panel-heading">
												<h1 class="panel-title">No Project Offered</h3>
											</div>
									</div>
							</div>
						</div>
					<% }else{ %>
						<% for (var i = 0;i<projects.length;i++) { %>
							<div class="row">
								<div class="col-md-12">
									<div class="panel">
										<div class="panel-heading">
											<h2 ><%= projects[i].title %></h2>
										</div>
										<div class="panel-body">
											<table class="proj-data">
												<tbody>
													<tr>
														<th>Prerequisites:</th>
															<td><%= projects[i].pre_requisites %></td>
														</tr>
														<tr>
															<th>Eligibility:</th>
															<td><%= projects[i].eligibility %></td>
														</tr>
														<tr>
															<th>Duration(in months):</th>
															<td><%= projects[i].duration %></td>
														</tr>
														<tr>
															<th>Offered on:</th>
															<td><%var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];%><%= projects[i].createdAt.getDate()%> - <%= months[projects[i].createdAt.getMonth()]%> - <%= projects[i].createdAt.getFullYear()%></td>
														</tr>
														<tr>
															<th>No. of Requests:</th>
															<td><%= projects[i].no_requests %></td>
														</tr>
														<tr>
															<th>Status:</th>
															<td>
																<% if (projects[i].available){%>
																<span class="label label-success">Open</span>
																<% }else{%>
																<span class="label label-danger">Close  </span>
																<% }%>
															</td>
														</tr>
												</tbody>
											</table>
											<br/>
											<div><strong>Description</strong></div>
											<p>
												<%= projects[i].description %>
											</p>
										</div>
										<div class="panel-footer">
											<div class="row">
												<div class="col-md-12 text-right">
													<a href="/project/<%= projects[i]._id %>" class="btn btn-primary">See Requests</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						<% } %>
					<% } %>
					<!-- END PROFESSOR PROJECTS -->
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; Academics and Career Council, IIT Kanpur</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/dash/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/dash/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/dash/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/dash/assets/scripts/klorofil-common.js"></script>
</body>

</html>
