<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Research Portal, IITK</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/dash/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/dash/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/dash/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/dash/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/dash/assets/css/main.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/dash/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/dash/assets/img/favicon.png">
	<script>
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
	</script>
	<script>
		  var xhttp = new XMLHttpRequest();
		  function status(id,val){
		  xhttp.open("POST", "/request/view/professor/", true);
		  
		  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		  xhttp.onreadystatechange = function () {
			  if (xhttp.readyState == 4 && xhttp.status == 200){
				  window.location.reload();
			  }
		  }
		  xhttp.send("id"+ "="+id+"&"+ "status="+val); 
		  }
	</script>		  
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="/home/"><img src="/dash/assets/img/logo-dark.png" alt="AnC Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-link"></i> <span>Quick Links</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="https://iitk.ac.in">IITK Home</a></li>
								<li><a href="https://iitk.ac.in/dosa">DOSA</a></li>
								<li><a href="https://iitk.ac.in/doaa">DOAA</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="" class="img-circle" alt=""> <span><%=name%></span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="/home/"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="/home/profile/changepwd/"><i class="lnr lnr-cog"></i> <span>Change Password</span></a></li>
								<li><a href="/home/user/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>								
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/home/" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="/project/createproject" class=""><i class="lnr lnr-list"></i> <span>New Project</span></a></li>
						<li><a href="/page-profile.html" class=""><i class="lnr lnr-user"></i><span>Profile</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<!-- MAIN CONTENT -->
					<div class="panel panel-headline">
							<div class="panel-heading">
								<h3 class="panel-title"><%=request.project.title%></h3>
							</div>
							<div class="panel-body">
								<table class="proj-data">
									<tr>
										<th>Name:</th>
										<td><%=request.student.name%></td>
									</tr>
									<tr>
										<th>Department:</th>
										<td><%=request.student.department%></td>
									</tr>
									<tr>
										<th>Email:</th>
										<td><%=request.student.email%></td>
									</tr>
									<tr>
										<th>Status:</th>
										<td>
											<% if(request.status == true){ %>
												<span class="label label-success">Accepted</span>
											<%} else if (request.status == false) { %>
												<span class="label label-danger">Rejected</span>
											<% } else { %>
												<span class="label label-default">Pending..</span>
											<%}%>
										</td>
									</tr>
								</table>
								<br>
								<table class="proj-data">
									<tr>
										<th>Resume:</th>
										<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/resume/<%=request.student._id%>" target="_blank">Resume</a></td>
									</tr>
								</table>
								<br>
								<% if(request.description.length){ %>
									<p><strong>Request Description:</strong></p>
									<p><%= request.description %></p>
								<%}%>
								<br>
								<button type="button" class="btn btn-success"onclick="status('<%= request._id %>',true);">Accept</button>
								<button type="button" class="btn btn-danger"onclick="status('<%= request._id %>',false);">Reject</button>
							</div>
						<div class="panel-footer text-right"><a href="../../project/<%=request.project._id%>"><button class ="btn btn-primary" style="margin-left: 20px;">Go back </button></a></div>

						</div>
		
					
		
		
					</div>
		
		
					<!-- END MAIN CONTENT -->
				</div>
			</div>
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; Academics and Career Council, IIT Kanpur</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/dash/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/dash/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/dash/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/dash/assets/scripts/klorofil-common.js"></script>
</body>

</html>
